<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container">
        <h3 class="text-center text-white bg-dark py-2 ">Rendición de Fondos</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="container">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{rendicion.municipio}}</h1>
                    <p>Rendición: {{porcentaje| percent: '2.1-2'}}
                    <p>
                    <form>
                        <div class="form-row">
                            <div class=col-md>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i-bs name="filter-square"></i-bs>
                                        </div>
                                    </div>
                                    <select class="form-control" name="municipio" [(ngModel)]="rendicion"
                                        (change)="loadData($event)">
                                        <option [ngValue]="rendicion" selected>Elige un municipio</option>
                                        <option *ngFor="let rendicion of rendicionList |order:'municipio'"
                                            [ngValue]="rendicion">
                                            {{rendicion.municipio}}</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="container">
                    <canvas baseChart width="1000" height="400" [type]="'line'" [datasets]="chartData"
                        [options]="options" [labels]="label">
                    </canvas>
                </div>
                <div class="container mt-4">
                    <div>Transferencias Acumulado: <span style="font-weight:bold">{{transfAcum|currency:'$
                            ':'symbol':'1.0-0'}} </span></div>
                    <div>Rendición Acumulado: <span style="font-weight:bold">{{rendidoAcum|currency:'$
                            ':'symbol':'1.0-0'}} </span></div>
                    <div>Última presentación: <span style="font-weight:bold">{{ultimoExte}} </span></div>
                </div>
            </div>

        </div>
    </div>



</main>