<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container">
        <h3 class="text-center text-white bg-dark py-2 ">Inscriptos por Grupo Etario </h3>
    </div>

    <div class="row">
        <div class="container">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{{inscriptos_gp.municipio}}</h1>
                <form>
                    <div class="form-row">
                        <div class=col-md>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i-bs name="filter-square"></i-bs>


                                    </div>
                                </div>
                                <select class="form-control" name="prestacion" [(ngModel)]="inscriptos_gp"
                                    (change)="loadData($event)">
                                    <option [ngValue]="inscriptos_gp" selected>Elige un municipio</option>
                                    <option *ngFor="let inscriptos_gp of inscriptos_gpList |order:'municipio'"
                                        [ngValue]="inscriptos_gp">
                                        {{inscriptos_gp.municipio}}</option>

                                </select>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="container">
                <canvas baseChart width="1000" height="400" [type]="'pie'" [datasets]="pieChartDatasets"
                    [labels]="pieChartLabels" [options]="pieChartOptions" [legend]="pieChartLegend">

                    >
                </canvas>
            </div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-2">
                        <p class="small bg-nin05 ">0-5 años: <span style="font-weight:bold">{{ninos_05_pct}} % </span></p>
                    </div>
                    <div class="col-2">
                        <p class="small bg-nin69">6-9 años: <span style="font-weight:bold">{{ninos_69_pct}} % </span></p>
                    </div>
                    <div class="col-2">
                        <p class="small bg-adol">Adolescentes: <span style="font-weight:bold">{{adolesc_pct}} % </span></p>
                    </div>
                    <div class="col-2">
                        <p class="small bg-adultos">Mujeres: <span style="font-weight:bold">{{mujeres_pct}} % </span></p>
                    </div>
                    <div class="col-2">
                        <p class="small bg-emb">Hombres: <span style="font-weight:bold">{{hombres_pct}} % </span></p>
                    </div>
                    <div class="bg-light"> Total : <span style="font-weight:bold">{{total_insc|currency:' ':'symbol':'1.0-0'}} </span>
                    </div>

                </div>

            </div>
        </div>
    </div>


</main>
