.bg-emb{
    background-color:#70cdb1;
    
  }
  .bg-adol{
    background-color: #f1d37a
  }
  .bg-nin05{
    background-color: #f1848e;
  }
  .bg-nin69{
    background-color: #91bdfd;
  }
  .bg-adultos{
    background-color:#e9ecef
  }