.bg-partos {
  background-color: #70cdb1;

}

.bg-lb_pr_im {
  background-color: #f1d37a
}

.bg-consultas {
  background-color: #f1848e;
}

.bg-inmunizacion {
  background-color: #91bdfd;
}

.bg-talleres {
  background-color: #a3b5c7
}

.bg-internacion {
  background-color: #ecf0f5
}

.bg-anato {
  background-color: #d3dae2
}

.bg-otras {
  background-color: #f06868
}