<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"  id="htmlData" >
  <div class="container">
    <h3 class="text-center text-white bg-dark py-2 fixed ">Rendición de Fondos </h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar Municipio" 
            [(ngModel)]="filterPost">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="text" (click)="borrarTexto()">X</button>
            </div>
        </div>
      </div>

      <div class="col-7 container bg-light text-black text-center pt-1">Años</div>
      <div class="col-2">
        <div class="form group">
          <input type="text" class="form-control" name="filterPost2" placeholder="Buscar fecha expte..."
            [(ngModel)]="filterPost2">
        </div>
      </div>

      <div class="col-12">
        <button class="btn btn-success btn-sm mt-2 float-end" (click)="exportToExcel()">
          <i-bs name="download"></i-bs> Excel</button>
        <button class="btn btn-danger btn-sm" (click)="downloadPDF()">
          <i-bs name="download"></i-bs>PDF</button>

      </div>
    </div>
    <div class="table responsive-md"  >
      <table class="table table-striped table-hover"  id="rend-tabla" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código Municipio</th>
            <th scope="col">Municipio</th>
            <th scope="col">2020</th>
            <th scope="col">2021</th>
            <th scope="col">2022</th>
            <th scope="col">2023</th>
            <th scope="col">Total 2008-2023</th>
            <th scope="col">Ultimo Expediente</th>
            <th scope="col">Ult.Bimestre Rend</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rendicion of rendicionList | filter2:filterPost2 |filter: filterPost; index as i ">
            <th scope="row">{{i+1}}</th>
            <td>{{rendicion.cod_mun}}</td>
            <td>{{rendicion.municipio}}</td>           
            <td>{{rendicion.anio_2020|currency:'$ ':'symbol':'1.0-0'}}</td>
            <td>{{rendicion.anio_2021|currency:'$ ':'symbol':'1.0-0'}}</td>
            <td>{{rendicion.anio_2022|currency:'$ ':'symbol':'1.0-0'}}</td>
            <td>{{rendicion.anio_2023|currency:'$ ':'symbol':'1.0-0'}}</td>
            <td>{{rendicion.acumulado|currency:'$ ':'symbol':'1.0-0'}}</td>
            <td>{{rendicion.fecha_ult_expte}}</td>
            <td>{{rendicion.ult_bm_rendido}}</td>
          </tr>
          <hr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="container">Total:{{total|currency:'$ ':'symbol':'1.0-0'}}</div>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <button class="btn btn-primary" routerLink="/grafico/rendicion">Ver Gráfico</button>

  </div>
</main>