<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container">
        <h3 class="text-center text-white bg-dark py-2 ">Evolución Tasa de Cobertura</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{trazadora.municipio}}</h1>
                    <p class="bg-light">{{porcentaje| percent: '2.1-2'}}
                    <p>
                    <form>
                        <div class="form-row">
                            <div class=col-md>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i-bs name="filter-square"></i-bs>


                                        </div>
                                    </div>
                                    <select class="form-control" name="municipio" [(ngModel)]="trazadora "
                                        (change)="loadData($event)">
                                        <option [ngValue]="trazadora " selected>Elige un municipio</option>
                                        <option *ngFor="let trazadora of trazadoraList |unique2:'municipio' | order:'municipio'"[ngValue]="trazadora">
                                            {{trazadora.municipio}}</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="container">
                    <canvas baseChart width="1000" height="400" [type]="'bar'" [datasets]="chartData"
                        [options]="options" [labels]="label">
                    </canvas>
                </div>
                
            </div>

        </div>
    </div>



</main>
