<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container">
        <h3 class="text-center text-white bg-dark py-2 fixed ">Trazadoras </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="form group">
                    <input type="text" class="form-control" name="filterPost" placeholder="" [(ngModel)]="municipio" />
                </div>

            </div>

            <div
                class="col-6 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <span style="font-weight:bold">1er Cuat 2022</span>
            </div>
            
            <div class="col-2">
                <!-- <select> -->
                <!-- <option *ngFor="let municipio of municipios | unique">{{ municipio }}</option> -->
                <!-- </select> -->
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i-bs name="filter-square"></i-bs>
                        </div>
                    </div>

                <select class="form-control" name="municipio" [(ngModel)]="municipio" (change)="showTrz = true">
                    <option [ngValue]="municipio" selected>Elige un municipio</option>
                    <option *ngFor="let municipio of municipios | alphabetical |unique" [ngValue]="municipio">
                        {{municipio}}</option>

                </select> -->

            </div>
        </div>
            <div class="col-2">
                <button class="btn btn-success mt-2 float-end" (click)="exportToExcel()">
                    <i-bs name="download"></i-bs> Excel
                </button>
            </div>
        </div>
    </div>
    <div class="table responsive-md" >
        <table class="table table-striped table-hover" id="rend-tabla">
            <thead>
                <tr>
                    <th scope="col">Trazadora</th>
                    <th scope="col">Casos Reportados</th>
                    <th scope="col">Meta 2022 casos</th>
                    <th scope="col">Meta %</th>
                    <th scope="col">Tasa Cobertura Municipio</th>
                    <th scope="col">Tasa Cobertura Mínima</th>
                    <th scope="col">Alcanza TCM</th>
                </tr>
            </thead>
            <tbody >
            <tbody *ngIf="showTrz">
                <tr *ngFor="let trazadoras of trazadoraList | filter3:municipio">
                    <td>{{trazadoras.trazadora}}</td>
                    <td>{{trazadoras.casos_positivos}}</td>
                    <td>{{trazadoras.meta_casos|currency:' ':'symbol':'1.0-0'}}</td>
                    <td>{{trazadoras.meta_pct|currency:' ':'symbol':'1.0-0'}}</td>
                    <td>{{trazadoras.tasa_cobertura }}</td>
                    <td>{{trazadoras.tcm}}</td>
                    <td>{{trazadoras.cumple_tcm}}</td>

                </tr>
                <hr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>

                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>


</main>