<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="htmlData">
    <div class="container">
        <h3 class="text-center text-white bg-dark py-2 ">Prestaciones 2024 <small>Por Grupo Etario</small></h3>
    </div>

    <div class="row">
        <div class="container">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{{prestacion.municipio}}</h1>
                <form>
                    <div class="form-row">
                        <div class=col-md>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i-bs name="filter-square"></i-bs>


                                    </div>
                                </div>
                                <select class="form-control" name="prestacion" [(ngModel)]="prestacion"
                                    (change)="loadData($event)" (change)="isLoading()">
                                    <option [ngValue]="prestacion" selected>Elige un municipio</option>
                                    <option *ngFor="let prestacion of prestacionList |order:'municipio'"
                                        [ngValue]="prestacion">
                                        {{prestacion.municipio}}</option>

                                </select>
                            </div>
                            <button class="btn btn-danger btn-sm mt-2 float-end" (click)="downloadPDF()">
                                <i-bs name="download"></i-bs>PDF
                            </button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="container">
                <p *ngIf="cargando"> Cargando...</p>                
                <canvas baseChart width="1000" height="400" [type]="'pie'" [datasets]="pieChartDatasets"
                    [labels]="pieChartLabels" [options]="pieChartOptions" [legend]="pieChartLegend">

                    
                </canvas>
            </div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-2">
                        <p class="small bg-nin05 ">0-5 años: <span style="font-weight:bold">{{ninos_05_pct}} % </span>
                        </p>
                    </div>
                    <div class="col-2">
                        <p class="small bg-nin69">6-9 años: <span style="font-weight:bold">{{ninos_69_pct}} % </span>
                        </p>
                    </div>
                    <div class="col-2">
                        <p class="small bg-adol">Adolescentes: <span style="font-weight:bold">{{adolesc_pct}} % </span>
                        </p>
                    </div>
                    <div class="col-2">
                        <p class="small bg-adultos">Adultos: <span style="font-weight:bold">{{adultos_pct}} % </span>
                        </p>
                    </div>
                    <div class="col-2">
                        <p class="small bg-emb">Embarazadas: <span style="font-weight:bold">{{emb_pct}} % </span></p>
                    </div>
                    <div class="bg-light"> Total 2024: <span style="font-weight:bold">{{prestAcum|currency:'
                            ':'symbol':'1.0-0'}} </span>
                    </div>

                </div>

            </div>
        </div>
    </div>


</main>