<nav id="sidebarMenu" class="col-md-3 mt-4 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebarMenu">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/**">
                    <i-bs name="house-door-fill" style="color:black"></i-bs>
                    Inicio
                </a>
            </li>
            <li class="mb-1">
                <a class="btn btn-toggle" data-bs-toggle="collapse" type="button" data-bs-target="#rendicion-collapse"
                    aria-expanded="false">
                    <i-bs name="cash-stack" class="me-1"></i-bs>
                    Rendición
                </a>
                <div class="collapse " id="rendicion-collapse">
                    <ul class="btn-toggle-nav fw-normal pb-1 small">
                        <li><a class="dropdown-item" routerLink="rendicion">Total por Municipio</a></li>
                        <li><a class="dropdown-item" routerLink="rendicion/grafico">Gráfico</a></li>

                    </ul>
                </div>
            </li>
            <li class="dropdown mb-1">
                <a class="btn btn-toggle" type="button" data-bs-toggle="collapse"
                    data-bs-target="#transferencias-collapse" aria-haspopup="true" aria-expanded="false">
                    <i-bs name="cash-coin" class="me-1"></i-bs>
                    Transferencias
                </a>
                <div class="collapse" id="transferencias-collapse">
                    <ul class="btn-toggle-nav fw-normal pb-1 small">
                        <li><a class="dropdown-item" routerLink="transferencias">Total por Municipio</a></li>
                        <li><a class="dropdown-item" routerLink="transferencias/grafico">Gráfico</a></li>

                    </ul>
                </div>

            </li>
            <li class="dropdown">
                <a class="btn btn-toggle" type="button" data-bs-toggle="collapse"
                    data-bs-target="#prestaciones-collapse" aria-haspopup="true" aria-expanded="false">

                    <i-bs name="file-bar-graph" class="me-1">
                    </i-bs>
                    Prestaciones
                </a>
                <div class="collapse" id="prestaciones-collapse">
                    <ul class="btn-toggle-nav fw-normal pb-1 small">
                        <li><a class="dropdown-item" routerLink="prestaciones/total">Total Cantidad</a></li>
                        <li><a class="dropdown-item" routerLink="prestaciones/total_monto">Total Monto</a></li>
                        <li class="dropdown">
                            <a class="btn btn-toggle" type="button" data-bs-toggle="collapse"
                                data-bs-target="#graficoprestaciones-collapse" aria-haspopup="true"
                                aria-expanded="false">
                                Gráficos
                            </a>
                            <div class="collapse" id="graficoprestaciones-collapse">
                                <ul class="btn-toggle-nav fw-normal pb-1">
                                    <li><a class="dropdown-item" routerLink="prestaciones/grafico/total">Cantidad por
                                            año</a></li>
                                    <li><a class="dropdown-item" routerLink="prestaciones/grafico/total_monto">Monto por
                                            año</a></li>
                                    <li><a class="dropdown-item" routerLink="prestaciones/grafico/tipoprestacion">Por
                                            Tipo Prestación</a></li>
                                    <li><a class="dropdown-item" routerLink="prestaciones/grafico/ge">Por Grupo
                                            Etario</a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <a class="btn btn-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#inscriptos-collapse"
                    aria-haspopup="true" aria-expanded="false">
                    <i-bs name="person" class="me-1"></i-bs>
                    Inscriptos
                </a>
                <div class="collapse" id="inscriptos-collapse">
                    <ul class="btn-toggle-nav fw-normal pb-1 small">
                        <li><a class="dropdown-item" routerLink="inscriptos/total">Inscriptos total</a></li>
                        <li><a class="dropdown-item" routerLink="inscriptos/inscriptos_ceb">Inscriptos Ceb</a></li>
                        <li class="dropdown">
                            <a class="btn btn-toggle" type="button" data-bs-toggle="collapse"
                                data-bs-target="#grafico-collapse" aria-haspopup="true" aria-expanded="false">
                                Gráficos
                            </a>
                            <div class="collapse" id="grafico-collapse">
                                <ul class="btn-toggle-nav fw-normal pb-1">
                                    <li><a class="dropdown-item" routerLink="inscriptos/grafico">Inscriptos Y CEB</a>
                                    </li>
                                    <li><a class="dropdown-item" routerLink="inscriptos/inscriptos_ge">Inscriptos Grupo
                                            Etario</a></li>
                                    <li><a class="dropdown-item" routerLink="inscriptos/ceb_ge">CEB Grupo Etario</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <a class="btn btn-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#usodefondos-collapse"
                    aria-haspopup="true" aria-expanded="false">
                    <i-bs name="layers" class="me-1"></i-bs>
                    Uso de Fondos
                </a>
                <div class="collapse" id="usodefondos-collapse">
                    <ul class="btn-toggle-nav fw-normal pb-1 small">
                        <li><a class="dropdown-item" routerLink="usodefondos/total">Total por Municipio</a></li>
                        <li><a class="dropdown-item" routerLink="usodefondos/grafico">Gráfico</a></li>

                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <a class="btn btn-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#trazadoras-collapse"
                    aria-haspopup="true" aria-expanded="false">
                    <i-bs name="layers" class="me-1"></i-bs>
                    Trazadoras
                </a>
                <div class="collapse" id="trazadoras-collapse">
                    <ul class="btn-toggle-nav fw-normal pb-1 small">
                        <li><a class="dropdown-item" routerLink="trazadoras/trz_1c2022">1er cuat 2022</a></li>
                        <li><a class="dropdown-item" routerLink="trazadoras/trz_2c2022">2er cuat 2022</a></li>
                        <li><a class="dropdown-item" routerLink="trazadoras/trz_3c2022">3er cuat 2022</a></li>
                        <li><a class="dropdown-item" routerLink="trazadoras/trz_1c2023">1er cuat 2023</a></li>
                        <li><a class="dropdown-item" routerLink="trazadoras/evolucion">Evolucion</a></li>
                        <li class="dropdown">
                            <a class="btn btn-toggle" type="button" data-bs-toggle="collapse"
                                data-bs-target="#grafico-collapse" aria-haspopup="true" aria-expanded="false">
                                Gráficos
                            </a>
                            <div class="collapse" id="grafico-collapse">
                                <ul class="btn-toggle-nav fw-normal pb-1">
                                    <li><a class="dropdown-item" routerLink="trazadoras/grafico/evolucion">Evolucion</a>
                                    </li>
                                </ul>
                            </div>
                    </ul>
                </div>
            </li>
        </ul>
        <!--  
        <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Saved reports</span>
            <a class="link-secondary" aria-label="Add a new report">
                <i-bs name="plus-circle"></i-bs>

            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i-bs name="file-earmark-text"></i-bs>
                    DDJJ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i-bs name="file-earmark-text"></i-bs>
                    Trazadoras
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i-bs name="file-earmark-text"></i-bs>
                    ARSD
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i-bs name="file-earmark-text"></i-bs>
                    Year-end sale
                </a>
            </li>
        </ul> -->
    </div>

</nav>