<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container">
        <h3 class="text-center text-white bg-dark py-2 fixed ">Prestaciones <small>(cantidad)</small> </h3>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="filterPost" placeholder="Buscar Municipio"
                        [(ngModel)]="searchText">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary ms-1" type="text" (click)="borrarTexto()">X</button>
                    </div>
                </div>
            </div>

            <div class="col-7 container bg-light text-black text-center pt-1 mb-2">
                <h4>Años</h4>
            </div>

            <div class="col-2">
                <button class="btn btn-success mt-2 float-end" (click)="exportToExcel()">
                    <i-bs name="download"></i-bs> Excel
                </button>

            </div>
        </div>
    </div>


    <div class="table responsive-md">
        <table class="table table-bordered table-hover" id="prest-tabla">
            <thead>
                <tr class="table-active">
                    <th scope="col">#</th>
                    <th scope="col">Código Municipio</th>
                    <th scope="col" (click)="setOrder('municipio')" [class.order-active]="order==='municipio'">
                        <span [hidden]="reverse">
                            <i-bs name="chevron-up"></i-bs>
                        </span>
                        <span [hidden]="!reverse">
                            <i-bs name="chevron-down"></i-bs>
                        </span> Municipio
                    </th>
                    <!-- <th class="anio" scope="col">2019</th>
                    <th class="anio" scope="col">2020</th> -->
                    <th class="anio" scope="col">2021</th>
                    <th class="anio" scope="col" (click)="setOrder('anio_2022')"
                        [class.order-active]="order==='anio_2022'">
                        <span [hidden]="reverse">
                            <i-bs name="chevron-up"></i-bs>
                        </span>
                        <span [hidden]="!reverse">
                            <i-bs name="chevron-down"></i-bs>
                        </span> 2022
                    </th>
                    <th class="anio" scope="col" (click)="setOrder('anio_2023')"
                        [class.order-active]="order==='anio_2023'">
                        <span [hidden]="reverse">
                            <i-bs name="chevron-up"></i-bs>
                        </span>
                        <span [hidden]="!reverse">
                            <i-bs name="chevron-down"></i-bs>
                        </span> 2023
                    </th>
                    <th class="anio" scope="col" (click)="setOrder('anio_2024')"
                        [class.order-active]="order==='anio_2024'">
                        <span [hidden]="reverse">
                            <i-bs name="chevron-up"></i-bs>
                        </span>
                        <span [hidden]="!reverse">
                            <i-bs name="chevron-down"></i-bs>
                        </span> 2024
                    </th>
                    <th class="anio" scope="col" (click)="setOrder('total_ac')"
                        [class.order-active]="order==='total_ac'">
                        <span [hidden]="reverse">
                            <i-bs name="chevron-up"></i-bs>
                        </span>
                        <span [hidden]="!reverse">
                            <i-bs name="chevron-down"></i-bs>
                        </span> Total 2013-2024
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let prestacion of prestacionesList | filter3:searchText |orderBy: order : reverse| paginate: { itemsPerPage: 10, currentPage: p }; index as i ">
                    <th scope="row">{{i+1}}</th>
                    <td>{{prestacion.cod_mun}}</td>
                    <td>{{prestacion.municipio}}</td>
                    <!-- <td class="cantidad">{{prestacion.anio_2019 |currency:' ':'symbol':'1.0-0'}}</td>
                    <td class="cantidad">{{prestacion.anio_2020|currency:' ':'symbol':'1.0-0'}}</td> -->
                    <td class="cantidad">{{prestacion.anio_2021|currency:' ':'symbol':'1.0-0'}}</td>
                    <td class="cantidad">{{prestacion.anio_2022|currency:' ':'symbol':'1.0-0'}}</td>
                    <td class="cantidad">{{prestacion.anio_2023|currency:' ':'symbol':'1.0-0'}}</td>
                    <td class="cantidad">{{prestacion.anio_2024|currency:' ':'symbol':'1.0-0'}}</td>
                    <td class="cantidad">{{prestacion.total_ac|currency:' ':'symbol':'1.0-0'}}</td>

                </tr>
            </tbody>
        </table>

        <div class="container">
            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
        </div>
    </div>
</main>