<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container">
        <h3 class="text-center text-white bg-dark py-2 ">Prestaciones </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="container">
                <div>

                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">{{prestacion.municipio}}</h1>
                        <p>{{(selectedMunicipio$|async)?.municipio}}</p>
                        <p>
                        <p>
                        <form>
                            <div class="form-row">
                                <div class=col-md>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i-bs name="filter-square"></i-bs>


                                            </div>
                                        </div>
                                        <select class="form-control" name="prestacion" [(ngModel)]="prestacion"
                                            (change)="loadData($event)">
                                            <option [ngValue]="prestacion" selected>Elige un municipio</option>
                                            <option *ngFor="let prestacion of prestacionList " [ngValue]="prestacion">
                                                {{prestacion.municipio}}</option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="container">
                        <canvas baseChart width="1000" height="400" [type]="'line'" [datasets]="chartData"
                            [options]="options" [labels]="label">
                        </canvas>
                    </div>
                    <div class="container mt-4">
                        <div>Acumulado 2013-2022: <span style="font-weight:bold">{{prestAcum|currency:'
                                ':'symbol':'1.0-0'}} </span></div>
                        <div>Última presentación: <span style="font-weight:bold">{{ultimoExte}} </span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>